In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Abolarinwa\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv" ,encoding ="latin-1")

In [3]:
df.head(200)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
195,4,Algeria,2534,"Roots, Other",5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
196,4,Algeria,2534,"Roots, Other",5911,Export Quantity,1000 tonnes,NaN,NaN,NaN,0.00,0.00
197,4,Algeria,2534,"Roots, Other",5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
198,4,Algeria,2534,"Roots, Other",5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
199,4,Algeria,2534,"Roots, Other",5142,Food,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [4]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [6]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [7]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]
i5

'e'

In [9]:
df.groupby('Item')['Element'].count()
df[['Item']] = df[['fuel_unit']].fillna(value='')

KeyError: "None of [Index(['fuel_unit'], dtype='object')] are in the [columns]"

In [10]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [11]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [12]:
array

[[94, 89, 63], [93, 92, 48], [92, 94, 56]]

In [8]:
df.iloc()

In [13]:
len(df)

60943

In [10]:
df.groupby['item'].count()

TypeError: 'method' object is not subscriptable

In [25]:
df.groupby(["Element"]).count().sum()

Area Code       60943
Area            60943
Item Code       60943
Item            60943
Element Code    60943
Unit            60943
Y2014           59354
Y2015           59395
Y2016           59408
Y2017           59437
Y2018           59507
dtype: int64

In [23]:
df.groupby(["Item"]).count().sum()

Area Code       60943
Area            60943
Item Code       60943
Element Code    60943
Element         60943
Unit            60943
Y2014           59354
Y2015           59395
Y2016           59408
Y2017           59437
Y2018           59507
dtype: int64

In [24]:
df.groupby(["Area"]).count().sum()

Area Code       60943
Item Code       60943
Item            60943
Element Code    60943
Element         60943
Unit            60943
Y2014           59354
Y2015           59395
Y2016           59408
Y2017           59437
Y2018           59507
dtype: int64

In [20]:
df.sum()

Area Code                                                 8182547
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                               163764610
Item            PopulationPopulationGrand TotalGrand TotalGran...
Element Code                                            232488797
Element         Total Population - Both sexesDomestic supply q...
Unit            1000 persons1000 tonneskcal/capita/dayg/capita...
Y2014                                                  7965086.13
Y2015                                                  8032340.23
Y2016                                                  8112472.65
Y2017                                                  8375729.19
Y2018                                                  8554629.96
dtype: object

In [15]:
df.shape()

TypeError: 'tuple' object is not callable